<mt:var name="page_title" value="Image Options">
<mt:if name="direct_asset_insert">
    <div>
        <div id="asset_details" class="direct_insert">
    <mtapp:setting
        id="file_name"
        label_class="top-label"
        label="<__trans phrase="Name">">
      <mt:var name="title" escape="html" />
    </mtapp:setting>
<mt:ignore>
    <mtapp:setting
        id="file_desc"
        label_class="top-label"
        label="<__trans phrase="Description">">
      <mt:var name="description" escape="html" />
    </mtapp:setting>
    <mtapp:setting
        id="file_tags"
        label_class="top-label"
        label="<__trans phrase="Tags">">
      <mt:var name="tags" escape="html" />
    </mtapp:setting>
</mt:ignore>
       </div>
    </div>
</mt:if>

    <div id="image-preview" class="picapp" style="background-image: url(<mt:var name="thumbnail" />)"></div>

    <input type="hidden" id="img_url" name="img_url" />
    <input type="hidden" id="image_id" name="image_id" value="<mt:var name="image_id">" />
    <input type="hidden" id="keywords" name="keywords" value="<mt:var name="keywords">" />
    <input type="hidden" id="display_image" name="include" value="1" />
    <input type="hidden" name="wrap_text" value="1" />

    <div id="new_entry_prefs">
<mtapp:setting
    id="display_image"
    label="<__trans phrase="Display image in entry">"
    label_class="no-header"
    hint=""
    show_hint="0"
    help_page=""
    help_section="">
    <input type="checkbox" name="include" id="display_image" value="1" checked="checked" onclick="toggleSubPrefs(this); return true;" />
    <label for="display_image"><__trans phrase="Display image in entry"></label>
</mtapp:setting>
      <div id="include_prefs" class="picapp">
          <mtapp:setting
              id="alignment_var"
              label="<__trans phrase="Alignment">"
              label_class="top-label"
              hint=""
              show_hint="0">
            <input type="radio" name="align" id="align-left" class="rb" value="left" <mt:if name="align_left">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-left"><__trans phrase="Left"></label>
            <input type="radio" name="align" id="align-center" class="rb" value="center" <mt:if name="align_center">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-center"><__trans phrase="Center"></label>
            <input type="radio" name="align" id="align-right" class="rb" value="right" <mt:if name="align_right">checked="checked" </mt:if>/>
            <label class="icon-left icon-left-xwide icon-align icon-align-right"><__trans phrase="Right"></label>
          </mtapp:setting>

          <mtapp:setting
              id="size_var"
              label="<__trans phrase="Insert Size">"
              label_class="top-label"
              hint=""
              show_hint="0">
            <input type="radio" name="size" id="size-small" class="rb" value="234x351" <mt:if name="size_small">checked="checked" </mt:if>/>
            <label><__trans phrase="234x351"></label>

            <input type="radio" name="size" id="size-medium" class="rb" value="380x570" <mt:if name="size_medium">checked="checked" </mt:if>/>
            <label><__trans phrase="380x570"></label>

            <input type="radio" name="size" id="size-large" class="rb" value="500x751" <mt:if name="size_large">checked="checked" </mt:if>/>
            <label><__trans phrase="500x751"></label>
          </mtapp:setting>
      </div>
    </div>
