<mt:setvarblock name="page_title"><__trans phrase="Search PicApp"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" href="<mt:var name="static_uri">plugins/PicApp/app.css" type="text/css" />
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="picapp_find_results" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="entry_insert" value="<mt:var name="entry_insert">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

    <mtapp:setting
        id="keywords"
        label_class="top-label"
        label="<__trans phrase="Keywords">"
        hint="Enter the keywords with which to search PicApp"
        show_hint="0">
      <input name="kw" type="text" size="60" />
    </mtapp:setting>

    <mtapp:setting
        id="category"
        label_class="top-label"
        label="<__trans phrase="Category">">
      <select name="category">
        <option value="">All</option>
        <option value="3">Creative</option>
        <option value="2" selected>Editorial</option>
        <option value="4">Entertainment</option>
        <option value="5">News</option>
        <option value="6">Sports</option>
      </select>
    </mtapp:setting>

    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <button
                type="submit"
                accesskey="s"
                title="<__trans phrase="Search (s)">"
                class="primary-button"
                ><__trans phrase="Search"></button>
            <button
                onclick="closeDialog(); return false"
                type="submit"
                accesskey="x"
                title="<__trans phrase="Cancel (x)">"
                ><__trans phrase="Cancel"></button>
        </div>
    </div>

</form>
</mt:if>

<mt:include name="dialog/footer.tmpl">
